body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

.main-content {
    display: flex;
    flex-direction: column;
}

/*  navbar */
.navbar {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.logo a{
    text-decoration: none;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 1000;
}

ul{
  list-style: none;  
}

.header-links {
    display: flex;
    gap: 16px;
}

.header-links li a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

/* content box one */
.content-box-one div{
    flex-basis: 500px;
    flex-shrink: 0;
}
.content-box-one {
    background-color: #1F2937;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 450px;
    color: #F9FAF8;
}

.info h1{
    font-size: 48px;
    font-weight: 1000;
    margin: 0;
    margin-bottom: 10px;
}

.info p {
    color: #E5E7EB;
    margin-bottom: 30px;
}

.info a{
    text-decoration: none;
    background-color: #3882F6;
    border-radius:5px;
    padding: 10px 30px;
    color: #F9FAF8;

}

.content-box-one img {
    border-radius: 10px;
}

/* content box two */

.content-box-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.content-box-two h2{
    font-size: 36px;
    font-weight: 1000;
    margin-bottom: 10px;
}

.content-box-two span{
    font-size: 16px;
    color:  rgb(71, 71, 71);
}

.content-box-two ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

.image-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-box img {
    width: 300px;
    height: auto;
    border: 5px #3882F6 solid;
    border-radius: 15px;
    margin-bottom: 10px;
}

.image-box p{
    width: 260px;
    color:#0F0F0F;
    margin: 0;
    text-align: center;
}


/* content box three */

.content-box-three {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}

.content-box-three p.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
    font-style: italic;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 800px;
}

.content-box-three .quote-author {
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
}

.content-box-three div{
    display: flex;
    justify-content: end;
    width: 800px;
}


/* content box four */

.content-box-four {
    align-self: center;
    background-color: #3882F6;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #F9FAF8;
    min-width: 950px;
    flex: 1;
    margin: 100px 0;
    padding: 20px;
}

.content-box-four a {
    text-decoration: none;
    color: #E5E7EB;
    border: 2px #F9FAF8 solid;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px 25px;
}

.content-box-four p{
    margin: 0;
}

.content-box-four p{
    margin: 0;
}

/* footer */

footer {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    justify-content: center;
    padding: 25px;
}